body{
    font-family: Arial, sans-serif;
    background-image: url(pokemon.jpg);
    background-repeat: no-repeat;
    display: flex;
    background-size: cover;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    text-align: center;
    align-items: center;
    background-color: antiquewhite;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-width: 500px;
    width: 90%;
}
h1{
    color: black;
    margin-bottom: 20px;
}
#pokemonInput{
    border-radius: 5px;
    border: 2px solid #ccc;
    padding: 10px;
    font-size: 16px;
    flex: 1;
}
button{
    border-radius: 5px;
    background-color: #ff4444;
    border-radius: 5px;
    border: 2px solid red;
    border: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}
button:hover{
    background-color: red;
}
.pokemon-result{
    margin-top: 20px;
}
.pokemon-result img{
    max-width: 200px;
    height: auto;
}
h2{
    text-transform: capitalize;
    color: rgb(41, 40, 40);
}
.error{
    color: #ff4444;
    font-weight: bolder;
}
@media(max-width: 600px){
    #container{
        padding: 15px;
    }
    #pokemonInput, button{
        font-size: 14px;
    }
}
